---
published: true
layout: default
slidesho: 
  - slide: 1543136737_ab608c8fcb_o.jpg
    title: Extraction
    subtitle: Slide Subtitle
  - slide: 2760561918_b9b2e009a8_o.jpg
    title: Conflict
    subtitle: Slide Subtitle
  - slide: 6466834543_1ff9a4ac4a_b.jpg
    title: Poverty
    subtitle: Slide Subtitle
citiesMap: "tristen.map-2wjrklq0"
---
<div class='section grey'>
  <div>
   
    {% for item in site.categories.cities %}
      {% assign cities = forloop.length %}
    {% endfor %}

 
   {% for item in site.categories.casestudy %}
      {% assign casestudy = forloop.length %}
    {% endfor %}

    <!-- <h2 class='centered'>{{cities}} Countries</h2> -->
    <h4 class='title centered'>Explore the impact of extractive industries at the local level</h4>

    <ul class='activities grid clearfix'>
      {% for case in site.categories.casestudy %}
      <li>
        <a href='{{site.baseurl}}{{case.url}}' style='background-image:url("http://api.tiles.mapbox.com/v3/{{case.map}}/{{case.center.lon}},{{case.center.lat}},{{case.center.zoom}}/1280x400.png");'>
          <div class='overlay'></div>
          <div class='label'>
            {% for name in site.categories.cities %}
              {% if name.city == case.city %}
                {{name.title}}
              {% endif %}
            {% endfor %}
          </div>
          <!--<h4 class='case-title'>{{case.title}}</h4>-->
          <p class='city-desc'>{{case.subtitle | truncate:120}}</p>
          <span class='more'>More</span>
        </a>
      </li>
      {% endfor %}
    </ul>

<!--
    {% if site.categories.casestudy.size > 5 %}
    <div class='centered'>
      <a href='#' class='button toggle'>Load More</a>
    </div>

    <ul class='activities grid toggled clearfix'>
      {% for case in site.categories.casestudy offset:3 %}
      <li>
        <a href='{{site.baseurl}}{{case.url}}' style='background-image:url("http://api.tiles.mapbox.com/v3/{{case.map}}/{{case.center.lon}},{{case.center.lat}},{{case.center.zoom}}/640x300.png");'>
          <div class='overlay'></div>
          <div class='label'>
            {% for name in site.categories.cities %}
              {% if name.city == case.city %}
                {{name.title}}
              {% endif %}
            {% endfor %}
          </div>
          <!--<h4 class='case-title'>
            {{case.title}}</h4>-->
<!--
          <p class='city-desc'>{{case.subtitle | truncate:120}}</p>
          <span class='more'>More</span>
        </a>
      </li>
      {% endfor %}
    </ul>
-->
    {% endif %}
  </div>
</div>
