{% if page.stats %}
<div class='head'>
	<img src='{{site.baseurl}}/img/page_black.png' alt='' />
	<h1>Narrative Map View</h1>
</div>
<p>The Narrative Map groups data layers by theme.  Use the buttons above to explore each theme.  Click the <img src='{{site.baseurl}}/img/logo_16.png' alt='Header'/> at the top of the page to return to this intro page.</p>

<div class='dashboard'>
  <div class='list two-wide first'>
    <ul>
      <li class='double'>
        <span class='key'>GDP</span><small class='minor'><em>per capita</em></small>
        <span class='value'>{{page.stats.gdp}}</span>
      </li>
      <li class='double'>
        <span class='key'>HDI</span>
        <span class='value'>{{page.stats.hdi}}</span>
      </li>
    </ul>
  </div>
  <div class='list two-wide second'>
    <ul>
      <li class='skip'>
      </li>
      <li>
        <span class='key'>EITI Status</span>
        <span class='value eiti-{{page.stats.eiti_status}}'>{{page.stats.eiti_status | capitalize}}</span>
      </li>
      <li>
        <span class='key'>Govt. Revenue</span>
        <span class='value'>{{page.stats.eiti_govt}}</span>
      </li>
      <li>
        <span class='key'>Comp. Payments</span>
        <span class='value'>{{page.stats.eiti_comp}}</span>
      </li>
    </ul>
  </div>
  
  <div class='clear'></div>
  <h2>Resource Governance Index <sup><small>†</small></sup></h2>
  
  <div class='list one-wide'>
    <ul>
      <li>
        <span class='key'>Composite Score</span>
        <span class='value'>{{page.stats.rw_composite}}</span>
      </li>
      <li>
        <span class='key'>Institutional & Legal Setting</span>
        <span class='value'>{{page.stats.rw_institutional}}</span>
      </li>
      <li>
        <span class='key'>Reporting Practices</span>
        <span class='value'>{{page.stats.rw_reporting}}</span>
      </li>
      <li>
        <span class='key'>Safeguards & Quality Controls</span>
        <span class='value'>{{page.stats.rw_safeguards}}</span>
      </li>
      <li>
        <span class='key'>Enabling Environment</span>
        <span class='value'>{{page.stats.rw_enabling}}</span>
      </li>
    </ul>
  </div>
  
  <div class='clear'></div>
</div>
			

{% endif %}