{% if page.country-ref %}
  {% capture country %}{{page.country-ref}}{% endcapture %}
{% else %}
  {% capture country %}{{page.country}}{% endcapture %} 
{% endif %}
<div id='map-header'>
	<span class='nav_button'>
		<a href="{{site.baseurl}}/">Home</a>
	</span>
	<span class='nav_button'>{% capture url %}/gis/{{country}}{% endcapture %}
		<a {% if page.url == url %} class='header-active' {% else %} href="{{site.baseurl}}/gis/{{country}}" {% endif %}>
			<div class='image stack'></div><div class='header-button'>GIS</div>
		</a>
	</span>
	<span class='nav_button'>{% capture url %}/countries/{{country}}{% endcapture %}
		<a {% if page.url == url %} class='header-active' {% else %} href="{{site.baseurl}}/countries/{{country}}" {% endif %}>
			<div class='image page'></div><div class='header-button'>Narrative</div>
		</a>
	</span>
</div>
