---
---
<!-- Legend -->

<!-- Unemployment - vertical graduated -->
<div id='unemploymentLegend' style='display:none'>
<div class='map-legendVerticalGraduated'>
	<div class='legend-name'>
		<div class='legend-title'>Unemployment, 2005</div>
	</div>
	<div class='legend-scale'>
		<ul class='legend-labels'>
			<li><span style='background:#FDCC8A;'></span>0 - 10%</li>
			<li><span style='background:#FC8D59;'></span>10% - 15%</li>
			<li><span style='background:#E34A33;'></span>15% - 20%</li>
			<li><span style='background:#B30000;'></span>20% +</li>
		</ul>
	</div>
	<div class='legend-source'><b>Source:</b> <a href="http://www.undp.org/content/undp/en/home/librarypage/mdg/mdg-reports/africa-collection.html">UNDP MDG Progress Report</a>, 2010</div>
</div>
</div>


<!-- Poverty Legend - vertical graduated -->
<div id='povertyLegend' style='display:none'>
<div class='map-legendVerticalGraduated'>
	<div class='legend-name'>
		<div class='legend-title'>Poverty, 2005</div>
	</div>
	<div class='legend-scale'>
		<ul class='legend-labels'>
			<li><span style='background:#FDCC8A;'></span>40% - 50%</li>
			<li><span style='background:#FC8D59;'></span>50% - 60%</li>
			<li><span style='background:#E34A33;'></span>60% - 70%</li>
			<li><span style='background:#B30000;'></span>70% +</li>
		</ul>
	</div>
	<div class='legend-source'><b>Source:</b> <a href="http://www.undp.org/content/undp/en/home/librarypage/mdg/mdg-reports/africa-collection.html">UNDP MDG Progress Report</a>, 2010</div>
</div>
</div>



<!-- Forestry - vertical categorized -->
<div id='forestryLegend' style='display:none'>
<div class='map-legendVerticalCategorized'>
	<div class='legend-name'>
		<div class='legend-title'>Forestry</div>
	</div>
	<div class='legend-scale'>
		<ul class='legend-labels'>
			<li><span style='background:#F6F2B4;'></span>Woodland</li>
			<li><span style='background:#9CA278;'></span>Primary Forest</li>
			<li><span style='background:#CCD397;'></span>Secondary Forest</li>
			<li><span style='background:#FFB900;'></span>Forest Loss, '00 - '05</li>
			<li><span style='background:#D94727;'></span>Forest Loss, '05 - '10</li>
		</ul>
	</div>
	<div class='legend-source'><em>Source:</em> <a href="http://www.osfac.net/index.php?lang=en&Itemid=135">OSFAC</a></div>
</div>
</div>


<!-- Biodiversity - vertical categorized -->
<div id='biodiversityLegend' style='display:none'>
<div class='map-legendVerticalCategorized'>
	<div class='legend-name'>
		<div class='legend-title'>Biodiversity Hotspots</div>
	</div>
	<div class='legend-scale'>
	<div class='legend-description'>
		<div><strong>Criteria for hotspot regions</strong></div>
		<ul>
			<li>• Contains at least 1,500 species of <br>endemic vascular plants (> 0.5% of the world's total)</li>
			<li>• Has lost at least 70% of its original habitat</li>
		</ul>
	</div>
		<ul class='legend-labels'>
			<li><img src='https://dl.dropboxusercontent.com/u/49790262/drc_biodiversity_icon_16_30.png' style='height:16px; width:30px; border:1px solid #CCC; margin-right: 5px;'><strong>Eastern Afromontane Archipelago</strong></li> <!-- The box here is 30px wide, 16px high, 1px border -->
		</ul>
	</div>
	<div class='legend-source'><em>Source:</em> <a href="http://unocha.org/drc/">Conservation International</a></div>
</div>
</div>


<!-- Mineralogy Legend - vertical categorized -->
<div id='mineralogyLegend' style='display:none'>
<div class='map-legendVerticalCategorized'>
	<div class='legend-name'>
		<div class='legend-title'>Mineral Concessions</div>
	</div>
	<div class='legend-scale'>
		<ul class='legend-labels'>
			<li><img src='https://dl.dropboxusercontent.com/u/49790262/drc_tin_icon_16_30.png' style='height:16px; width:30px; border:1px solid #CCC; margin-right: 5px;'></span>Tin Region</li>
			<li><img src='https://dl.dropboxusercontent.com/u/49790262/drc_copper_icon_16_30.png' style='height:16px; width:30px; border:1px solid #CCC; margin-right: 5px;'></span>Copper Belt</li>
		</ul>
	<div class='legend-description'>HOVER over a province for details on its mineral wealth</div>
	</div>
	<div class='legend-source'><b>Source:</b> <a href="#">IPIS</a> Mine Concession Data, 2010</div>
</div>
</div>

<!-- Concession Legend - vertical categorized -->
<div id='concessionsLegend' style='display:none'>
<div class='map-legendVerticalCategorized'>
	<div class='legend-name'>
		<div class='legend-title'>Extractive Concessions</div>
	</div>
	<div class='legend-scale'>
		<ul class='legend-labels'>
			<li><span style='background:#ffcc00;'></span>Mineral Concessions</li>
			<li><span style='background:#ff5d00;'></span>Oil Concessions</li>
			<li><span style='background:#b0ff00;'></span>Forest Concessions</li>
		</ul>
	</div>
	<div class='legend-source'><b>Source:</b> <a href="#">IPIS</a> Mine Concession Data, 2010</div>
</div>
</div>


<!-- Conflict Minerals - horizontal graduated -->
<div id='conflictMineralsLegend' style='display:none'>
<div class='map-legendGraduated'>
	<div class='legend-name'>
		<div class='legend-title'>Artisanal Mining Supply Chain</div>
	</div>
	<div class='legend-scale'>
		<ul class='legend-labels'>
			<li><span style='background:#B30000;'></span></li>
			<li><span style='background:#d1351d;'></span>upstream</li>
			<li><span style='background:#e36934;'></span></li>
			<li><span style='background:#ec8d45;'></span></li>
			<li><span style='background:#f0b039;'></span>downstream</li>
			<li><span style='background:#f9e47c;'></span></li>
		</ul>
	</div>
	<div class='legend-source'><b>Source:</b> <a href="http://www.ipisresearch.be/">International Peace Information Service</a>, 2010</div>
</div>
</div>


<!-- GDELT - horizontal graduated -->
<div id='gdeltLegend' style='display:none'>
<div class='map-legendGraduated'>
	<div class='legend-name'>
		<div class='legend-title'>Change in Conflict, '10 - '12</div>
	</div>
	<div class='legend-scale'>
		<ul class='legend-labels'>
			<li><span style='background:#D7191C;'></span></li>
			<li><span style='background:#F07C4A;'></span>Increasing</li>
			<li><span style='background:#FDC980;'></span></li>
			<li><span style='background:#ffffe6;'></span>Constant</li>
			<li><span style='background:#C7E5DB;'></span></li>
			<li><span style='background:#80B9D8;'></span>Decreasing</li>
			<li><span style='background:#2C7BB6;'></span></li>
		</ul>
	</div>
	<div class='legend-source'><strong>Source:</strong> <a href="http://gdelt.utdallas.edu/data.html">GDELT</a></div>
</div>
</div>


<!-- IDPs - vertical categorized -->
<div id='idpLegend' style='display:none'>
<div class='map-legendVerticalCategorized'>
	<div class='legend-name'>
		<div class='legend-title'>IDPs, April 2013</div>
	</div>
	<div class='legend-scale'>
		<ul class='legend-labels'>
			<li><img src='https://dl.dropboxusercontent.com/u/49790262/drc_idp_icon_16_30.png' style='height:16px; width:30px; border:1px solid #CCC; margin-right: 5px;'>Regions with IDP Presence</li> <!-- The box here is 30px wide, 16px high, 1px border -->
		</ul>
	</div>
	<div class='legend-source'><em>Source:</em> <a href="http://unocha.org/drc/">OCHA</a>, 28 April, 2013</div>
</div>
</div>


<div id='introText' style='display:none'>
	{% include dashboard.html %}
	<p>The <strong>Democratic Republic of the Congo</strong> is a poster child for the complexities and contradictions of extractive resource wealth.  The country is home to massive extractive reserves, estimated in value to be upwards of <strong>$24 trillion</strong>, including as much as <strong>80%</strong> of the world's reserves of <strong>Coltan</strong>.  However, these natural riches have been a key focal point of conflict.  Following on two successive civil wars from <strong>'96 - '97</strong> and <strong>'98 - '02</strong> that decimated the country's governmental and civil society capacities, the DRC has made strides in reconstruction.  However, challenges to development posed by corruption and regional unrest remain, often fueled in part by the extractives trade.</p>
	
	<small>†:<em><a href='http://www.revenuewatch.org/rgi'>The Resource Governance Index</a>, a measure of the quality of governance in oil, gas and mining sectors, is developed and maintained by Revenue Watch.</em></small>
</div>


<div id='unemploymentText' style='display:none'>
	<h1>Development</h1>
	<p>The DRC's legacy of instability and civil war has taken a massive tole on the country's level of development.  In '12, it tied for last place on the <strong>Human Development Index</strong>.  Because the last census conducted in the DRC was in '84, reliable developmental indicators by province are difficult to obtain; here all data was collected by the UNDP's work on the Millenium Development Goals.</p>
	<h2>Unemployment</h2>
	<p>While unemployment is an issue throughout the country, development strategies for the extractive sector must consider the broad job creation as a central objective.  In of themselves, while generating a significant level of revenue, industrial mine operations create only limited employment opportunities.  For this reason, it is essential to develope <strong>area-based development programs</strong>  that expand the DRC's emerging social economy and create job opportunities.</p>
	<p>Emerging as an important local source of livelihood towards the end of the Mobutu regime and during the civil war the informal economy built around the <strong>artisanal mining sector</strong> employs many hundreds of thousands of Congolese.  While the <strong>artisanal mining</strong> sector is often abused by armed militias--who extort money from occupied mines--it is essential that efforts to formalize the trade do not ignore the rights of the miners themselves, which would only exacerbate further the issue of unemployment.</p>
</div>


<div id='povertyText' style='display:none'>
	<h2>Poverty</h2>
	<p>Dangerously high levels of poverty threaten the stability of the DRC throughout the country.  Ongoing violent conflicts, particularly in the east, south east, and north east, have resulted in the displacement of hundreds of thousands, raised issues related to rapid and unplanned urbanization, and put massive strains on the ability to deliver basic services like housing and sanitation in many urban centers.</p>
	<p>The DRC has made significant developmental gains since '04 as it rebounds from conflict.  Improvements in macroeconomic management have helped improve economic growth, while social indicators such as primary education enrollment, literacy, infant mortality, and poverty have improved [fact check].  With mineral reserves estimated in the many trillions of dollars, much of the DRC's developmental needs could be addressed through proper stewardship of its extractive industries.  However, the country's history has shown that these industries can be engines of underdevelopment as much as they can be of development.</p>
</div>


<div id='deforestationText' style='display:none'>
	<h1>Environment</h1>
	<p>With the world's <strong>second largest rainforest</strong> and <strong>third largest river</strong>, the DRC hosts one of the world's most vibrant ecosystems.  These resources, if managed well, can be a massive developmental asset; sustainable farming on the DRC's <strong>80 mil hectares</strong> of <strong>arable land</strong> could potentially make the country the <strong>granary of Africa</strong>.  Mining and timber industries are not necessarily a threat to the country's ecosystem.  However, development of these extractive industries without strong governmental oversight risks squandering this natural capital.</p>
</div>
	
<div id='biodiversityText' style='display:none'>	
	<h2>Biodiversity</h2>
	<p>The DRC is home to five natural <strong>World Heritage Sites</strong>, hosting a level of biodiversity unparalled in Africa.  The mountains of the <span class='navigate' data-location='-3.349,27.828,6'>Albertine Rift</span>, along the country's eastern boarder, are home to more endemic species than any other region in Africa.  The volcanic and seismic activity that created this massif also generated the region's significant mineral and oil reserves.  Although mineral concession owners hold the rights to much of the region's mineral wealth, instability means that most of these reserves are mined by local <strong>artisanal miners</strong> whose livelihood depends on the small wages paid.</p>
</div>
	
<div id='mineralogyText' style='display:none'>
	<h1>Extractives</h1>
	<p>The DRC has an immensely rich mineral reserve, with a valuation potentially as high as <strong>$24 trill</strong>.  In 2011, <strong>Cobalt</strong> production accounted for <strong>53%</strong> of global production, while <strong>Diamond</strong> production accounted for 34%.  Additionally, the country also has globally significant reserves in <strong>Copper</strong>, <strong>Tantalum</strong>, and <strong>Tin</strong>, as well as smaller reserves of many other valuable minerals.</p>
	<p>Nevertheless, the country's extractives have a troubled history.  Mismanagement and blatant corruption under the 3 decade Mobutu regime decimated national production, while control of vast untapped reserves was a prime motivation of many actors over the country's two civil wars from '96 - '03.  Trade in <strong>Conflict Minerals</strong> continue to fuel conflict in the east of the country.</p>
	<h2>Regional Mineralogy</h2>
	<p>Industrial-scale exploitation of the <strong>Central Africa Copperbelt</strong> is already underway, as is the extraction of similar <strong>Cobalt</strong> reserves.  Tin deposits dot the east of the country, along with <strong>Gold</strong> and <strong>Tungsten</strong> reserves, much of which have active artisanal and small-scale mines.  The artisanal mining sector also accounts for the majority of diamond extraction, primarily in <strong>Kasai-Occidental</strong>, <strong>Kasai-Oriental</strong>, and <strong>Orientale Provinces</strong>.  Petroleum exploration is underway in the Lake Albert Basin in the east of Orientale Province, as well as the boarder between North Kivu and Uganda.  Forestry concessions cover significant areas across the Congo Basin.</p>
</div>

<div id='artisanalMinesText' style='display:none'>
	<h2>Artisanal Mining</h2>
	<p>Although the root of the ongoing unrest in the east of the country stems from ethnic disputes over land and refugee status, a major contribting factor to the violence stems from the region's vast mineral wealth.  The extensive informal mineral trade, which employs anywhere from <strong>500k</strong> to <strong>2 mil</strong> Congolese, accounts for an estimated <strong>90%</strong> of mineral production.  However, the informal mining sector is a prime target for exploitation by armed groups, who occupy the mines or levy taxes in order to fund their ongoing activities.</p>
	<p>Following on the model established by the <strong>Kimberly Process</strong> for conflict diamonds, much work has been done to clean up the trade in four conflict minerals--<strong>tin</strong>, <strong>tantalum</strong>, <strong>tungsten</strong>, and <strong>gold</strong>--with initiatives focused at all levels of the supply chain.  Below is a broad overview of these interventions, from the <strong>upstream</strong> mine site to <strong>downstream</strong> manufacturers.</p>
	<div style='position: relative'>
		<div class='rotate upstream'>UPSTREAM</div>
		<div class='rotate downstream'>DOWNSTREAM</div>
	</div>
	<div class='cmBox'>
		<div class='cmInitiative'>
			<img src='https://dl.dropboxusercontent.com/u/49790262/dot_8.png'>
			<h2 class='navigate' data-location='-2.6234,27.4617,9'>Mine</h2>
			<p class='cmDescription'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a>exercitation</a> ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
		<div class='cmInitiative'>
			<img src='https://dl.dropboxusercontent.com/u/49790262/dot_8.png'>
			<h2 class='navigate' data-location='-2.227,27.070,8'>Comptoirs/Negociants</h2>
			<p class='cmDescription'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div>
		<div class='cmInitiative'>
			<img src='https://dl.dropboxusercontent.com/u/49790262/dot_8.png'>
			<h2 class='navigate' data-location='-3.853,28.070,6'>Exporter</h2>
			<p class='cmDescription'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a>exercitation</a> ullamco</p>
		</div>
		<div class='cmInitiative'>
			<img src='https://dl.dropboxusercontent.com/u/49790262/dot_8.png'>
			<h2 class='navigate' data-location='16.89,21.71,3'>Smelter</h2>
			<p class='cmDescription'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a>exercitation</a> ullamco laboris nisi ut.</p>
		</div>
		<div class='cmInitiative'>
			<img src='https://dl.dropboxusercontent.com/u/49790262/dot_8.png'>
			<h2 class='navigate' data-location='16.89,21.71,3'>Producer/Manufacturer</h2>
			<p class='cmDescription'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a>exercitation</a> ullamco laboris nisi ut.</p>
		</div>
	</div>
</div>

<div id='conflictText' style='display:none'>
	<h1>Stresses</h1>
	<p>Since the end of the Second Congo War in '03, the DRC continues to experience chronic instability around the country.  This conflict density map layer aggregates violent incidents captured by the <strong>ACLED</strong> database taking place between '08 and '10.  Violence is concentrated in the eastern <span class='navigate' data-location='-2.641,25.549,7'>Kivu provinces</span>, where local militias and rebel groups fund their activities in part through the black market trade in <strong>Conflict Minerals</strong>.  Conflict density is also high in the <span class='navigate' data-location='3.431,25.604,7'>north east Oriental Province</span>, where the Lords Resistance Army (<strong>LRA</strong>), led by Joseph Kony, continues to terrorize local populations.</p>
	<h2>Land Rights</h2>
	<p>Ethnic tensions over land rights, inflamed by the country's two successive civil wars, are a major flash point for violence, often resulting in a cycle reprisals and the creation of ethnic-based civilian militias.  The situation is further aggrevated by conflicts between customary and official land claims, which given the weakness of both customary and state structures, often results in corrupt practices and inter-communal violence.  Mediation between small landholders with competing claims has had some successes in resolving these confrontations, however comprehensive landreform remains as a massive undertaking.</p>
	<h2>M23</h2>
	<p>In early spring, '12, nearly 300 soldiers recently integrated into the Congolese Army (<strong>FARDC</strong>) rebelled against the government, calling their movement <strong>M23</strong>.  Active mainly in <span class='navigate' data-location='-0.972,26.043,7'>North Kivu province</span>, the group grew over the subsequent year, and in Fall '12 succeeded in capturing the eastern boarder city of Goma.  In March '13, Bosco Ntaganda, the leader of <strong>M23</strong> who was wanted by the ICC for alleged war crimes, surrendered to the US Embacy in Kigali, likely due to infighting in the group.  Since then, the group's power has declined, though instability in the east remains endemic.</p>
</div>

<div id='idpText' style='display:none'>
	<h2>IDPs</h2>
		<p>The number of <strong>IDPs</strong> increased to over 2.6 mil in April '13 due to the presence of various armed groups, including a 500% increase in Katanga province from 12 months earlier.  The <strong>M23</strong> insurgency has forced many residents of the <span class='navigate' data-location='-2.641,25.549,7'>Kivu provinces</span> to flee to refugee camps and spontaneous settlements, while the continued existence of the <strong>LRA</strong> along the <span class='navigate' data-location='3.431,25.604,7'>northern boarder</span> with South Sudan is responsible for the IDP concentrations in the north.</p>
</div>

