<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  <title>Extractives and Fragile States {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.4/mapbox.css' rel='stylesheet' />
	<!--[if lte IE 8]>
	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.4/mapbox.ie.css' rel='stylesheet' />
	<![endif]-->
	<link rel="stylesheet" href="{{site.baseurl}}/tmp/fonts.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/tmp/style.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/tmp/mapbox.share.css" type="text/css" />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  
	<script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.4/mapbox.js'></script>
    <script src="{{site.baseurl}}/tmp/jquery.min.js"></script> -->
    <script src="{{site.baseurl}}/tmp/mapbox.jquery.js"></script>
    <script src="{{site.baseurl}}/tmp/mapbox.share.js"></script>
	<script src="{{site.baseurl}}/map.js"></script>
<script>
  $(function() {
    extractives.global();
  });
</script>
</head>
<body>

<div id='map'></div>

<div id='header'>
  <span><a href="{{site.baseurl}}/">Home</a></span> >> 
  <span><a href="{{site.baseurl}}/countries/{{page.country-ref}}">{{page.title}}</a></span> >>
  <span class='refresher'>GIS</span>    
</div>

<div id="content">

<div class="gisMenu">
{% for item in site.categories.countries %}
  {% if page.country-ref == item.city %}
    {% for section in item.sections %}
      {% for layer in section.layers %} 
        {% assign label = layer.label %}
        {% for map in layer.maps %}
          {% if map.label %}{% assign label = map.label %}{% endif %}
          <div>
          <a href="#" class="gisMenu" mapid="{{map.mapid}}">{{label}}</a> <a href="#" class="gisMenu grid" mapid="{{map.mapid}}">I</a>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}
</div> 

  {{content}}
  </div>

   {% for item in site.categories.countries %}
      {% if page.country-ref == item.city %}
        {% assign sections = item.sections %}
        {% assign center = item.center %}
        {% assign gis = true %}
      {% endif %}
   {% endfor %}
  {% include parse_layers.html %}

	</body>
</html>
