<!DOCTYPE html>
<html>
<head>
  {% include dochead-map.html %}
</head>
<body>

<div id='map'></div>

<div id='map-header'>
  <span><a href="{{site.baseurl}}/">Home</a></span> >> 
  <span><a href="{{site.baseurl}}/countries/{{page.country-ref}}">{{page.title}}</a></span> >>
  <span class='refresher'>GIS</span>    
</div>

<div id="content">

<div class="gisMenu">
{% for item in site.categories.countries %}
  {% if page.country-ref == item.city %}
    {% for section in item.sections %}
      {% for layer in section.layers %} 
        {% assign label = layer.label %}
        {% for map in layer.maps %}
          {% if map.label %}{% assign label = map.label %}{% endif %}
          <div>
          <a href="#" class="gisMenu" mapid="{{map.mapid}}">{{label}}</a> <a href="#" class="gisMenu grid" mapid="{{map.mapid}}">I</a>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}
</div> 

  {{content}}
  </div>

   {% for item in site.categories.countries %}
      {% if page.country-ref == item.city %}
        {% assign sections = item.sections %}
        {% assign center = item.center %}
        {% assign gis = true %}
      {% endif %}
   {% endfor %}
  {% include parse_layers.html %}

	</body>
</html>
