<!DOCTYPE html>
<html>
<head>
  {% include dochead-map.html %}
</head>
<body>

<div id='map'></div>

{% include map-header.html %}

<div id="content">
	<div class='title refresher'><img src='{{site.baseurl}}/img/logo_light.png'/>{{page.title}}</div> 
  {% capture switcher_class %}wide{{page.sections.size}}{% endcapture %}
	<div id="map-ui" class="{{switcher_class}} switcher-box">
    {% for section in page.sections %}<a href="#" id="{{section.sectionid}}" class="section"><div>{{section.label}}</div></a>{% endfor %}
	</div>	

  {% for section in page.sections %}
      {% if section.layers %}
        {% capture layer_class %}wide{{section.layers.size}}{% endcapture %}

        <div id="{{section.sectionid}}-layer" class="{{layer_class}} switcher-box dropdownMenu">
        {% for layer in section.layers %}
          {% assign layer_class = "" %}
          {% if layer.maps.size > 1 %}
            {% assign layer_class = "multimap" %}
          {% endif %}
	        <a href="#" id="{{layer.layerid}}" class="maplink {{layer_class}}"><div>{{layer.label}}</div></a>
        {% endfor %}
      	</div>
        
        {% for layer in section.layers %} <!-- map menu buttons. make three wide -->
          {% if layer.maps.size > 1 %}
            {% assign button_count = 0 %}
	          <div id='{{layer.layerid}}-menu' class='menu layerMenu'>
            {% for map in layer.maps %}   
              {% capture tmp %}{{ button_count | plus:1 }}{% endcapture %}
              {% assign button_count = tmp %} 
          		<a href="#" id="{{map.htmlid}}" class="maplink">{{map.label}}</a>
              {% capture tmp %}{{button_count | modulo:3}}{% endcapture %}
              {% if tmp == "0" %}<br/>{% endif %}
            {% endfor %}
        	  </div>
          {% endif %}
        {% endfor %}

      {% endif %}
  {% endfor %}

	<!-- Text -->
	<div id='text-container'>
		<div id='text'></div>
	</div>

	<div class='attribution' style='display:none'>
		<div>...</div>
	</div>

	<div class='source' style='display:none'>
		<div>...</div>
	</div>

  {{content}}  

  </div>
  {% assign sections = page.sections %}
  {% assign center = page.center %}
  {% include parse_layers.html %}

	</body>
</html>
