<!DOCTYPE html>
<html>
<head>
  {% include dochead-map.html %}
</head>
<body>

<div id='map'></div>

<div id='map-header'>
  <span><a href='{{site.baseurl}}/'>Home</a></span> >> 
  <span class='refresher'>{{page.title}}</span> >>
  <span><a href="{{site.baseurl}}/gis/{{page.city}}">GIS</a></span>
  <span class='headerSection'>
  {% for section in page.sections %}
    {% if section.class == "headerSection" %}
      {% for layer in section.layers %}
		    <a href="#" id="{{layer.layerid}}" class="maplink headerLayer" tyle='padding: 4px 0 2px 0; line-height: 1.3em;'>{{layer.label}}</a>
      {% endfor %}
    {% endif %}
  {% endfor %}
	</span>
</div>

<div id="content">

  {% assign switcher_class = 'four-wide' %}
  {% if page.sections.size == 2 %}
     {% assign switcher_class = 'two-wide' %}
  {% endif %}
	<div id="map-ui" class="{{switcher_class}} switcher-box">
    {% for section in page.sections %}{% unless section.class == "headerSection" %}<a href="#" id="{{section.sectionid}}" class="section">{{section.label}}</a>{% endunless %}{% endfor %}
	</div>	

  {% for section in page.sections %}
    {% unless section.class == "headerSection" %}
      {% if section.layers %}
        {% if section.layers.size == 2 %}
          {% assign layer_class = 'two-wide' %}
        {% elsif section.layers.size == 4 %}
          {% assign layer_class = 'four-wide' %}
        {% endif %}

        <div id="{{section.sectionid}}-layer" class="{{layer_class}} switcher-box dropdownMenu">
        {% for layer in section.layers %}
          {% if layer.maps.size > 1 %}
            {% assign layer_class = "multimap" %}
          {% else %}
            {% assign layer_class = "" %}
          {% endif %}
	        <a href="#" id="{{layer.layerid}}" class="maplink {{layer_class}}">{{layer.label}}</a>
        {% endfor %}
      	</div>
        
        {% for layer in section.layers %} <!-- map menu buttons -->
          {% if layer.maps.size > 1 %}
	          <div id='{{layer.layerid}}-menu' class='menu layerMenu' style='top:130px'>
            {% for map in layer.maps %}    
          		<a href="#" id="{{map.htmlid}}" class="maplink">{{map.label}}</a>
            {% endfor %}
        	  </div>
          {% endif %}
        {% endfor %}

      {% endif %}
    {% endunless %}
  {% endfor %}

	<!-- Text -->
	<div id='text'></div>

	<div class='attribution' style='display:none'>
		<div>...</div>
	</div>

	<div class='source' style='display:none'>
		<div>...</div>
	</div>

  {{content}}

  </div>
  {% assign sections = page.sections %}
  {% assign center = page.center %}
  {% include parse_layers.html %}

	</body>
</html>
